@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/seven-segment');

/*APP*/
body {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 40% auto 1fr;
    grid-template-columns: 100%;
    height: 100dvh;
    max-height: 100dvh;
    overflow: hidden;
}

body.focus-map {
    grid-template-rows: auto 60% auto 1fr;
}

body.focus-list {
    grid-template-rows: auto 20% auto 1fr;
}


/*APPBAR*/
.app-bar {
    background-color: #243860;
    display: grid;
    grid-template-columns: 35px auto 35px;
    justify-items: stretch;
    align-content: center;
    gap: 10px;
    padding: 10px;
}

#pac-input {
    background-color: transparent;
    border-radius: 5px;
    border: 2px white solid;
    cursor: pointer;
    transition: 0.2s;
    color: white;
    padding: 5px;
    font-size: 14px;
    height: auto;
    outline: none;
}

#search-location-button {
    border: 2px white solid;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    color: #243860;
}

#current-location-button {
    background-color: transparent;
    border: 2px white solid;
    border-radius: 5px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    transition: 0.2s;
    color: white;
    font-size: 1rem;
    height: 100%;
    width: 100%;
}

#current-location-button:hover {
    color: white;
}

#current-location-button.location-found {
    color: #243860;
    background-color: white;
}


/*MAP*/
.map-view {
    background-color: antiquewhite;
    width: 100%;
}

#toggle-map-focus {
    display: none;
}

#toggle-map-focus:checked~.fa-maximize {
    display: none;
}

#toggle-map-focus:not(:checked)~.fa-minimize {
    display: none;
}

#toggle-map-size-button {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9999;
    background-color: #f4f4f4;
    font-size: 14px;
    height: 31px;
    width: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #0003;
}

#toggle-map-size-button:hover {
    background-color: #e2e2e2;
}


/*FILTER*/
.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.filter-option {
    font-size: 14px;
}


#gas-type {
    border: 0px;
    height: 100%;
    border-radius: 25px;
    padding: 0 10px;
    background-color: #ddd;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    text-align: center;
}

#reset-button {
    border: 0;
    background-color: #ddd;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 25px;
}

#toggle-list-size-button {
    margin-left: auto;
    border: 0;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 25px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toggle-list-focus {
    display: none;
}

#toggle-list-focus:checked~.fa-maximize {
    display: none;
}

#toggle-list-focus:not(:checked)~.fa-minimize {
    display: none;
}


#radius-input {
    width: 60px;
    text-align: center;
    border: 0;
    border-radius: 25px;
    background-color: #ddd;
    height: 100%;
    padding: 0 5px;
}

#gas-type:hover,
#reset-button:hover,
#toggle-list-size-button:hover,
#radius-input:hover {
    background-color: #ccc;
}


/*LIST*/
.gas-station-list {
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}

.gasStationListItem {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}

.gasStationListItem[data-open="false"]{
    pointer-events: none;
    opacity: 0.5;
    background-color: #545454;
}

.gasStationListItem:last-of-type {
    border-bottom: none;
}

.gasStationGeneral>div {
    display: flex;
    gap: 5px;
}

.brand {
    font-weight: bold;
}

.postCode,
.place,
.street,
.houseNumber {
    font-size: 12px;
}

.dist {
    color: #545454;
    font-size: 12px;
    display: contents;
}

.gasStationGeneral>div>* {
    margin: 0;
}

.gasStationPrice>* {
    margin: 0;
    text-align: end;
}

.gasStationPrice>.price {
    padding: 2.5px 5px;
    background-color: black;
    color: white;
    font-size: 22px;
    font-family: 'Seven Segment', sans-serif;  
}

.milli_cent {
    display: inline-block;
    vertical-align: top;
    line-height: 16px;
    font-size: 14px;
}

.gasStationGeneral {
    display: grid;
}