@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/seven-segment');

/*APP*/
body {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 56px auto auto;
    grid-template-columns: 100%;
    height: 100dvh;
    max-height: 100dvh;
    overflow: hidden;
}

/*APPBAR*/
.app-bar {
    background-color: #243860;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.app-logo-name {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.app-logo {
    height: 100%;
    width: auto;
}

.app-name {
    color: white;
    margin: 0;
    font-size: 1.6rem;
}

/*MAP*/
.map-view {
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
}


/*LIST SLIDER*/
.list-slider {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 20px 45px 45px auto;
}

.list-slider-knob {
    background-color: white;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc;
}

.list-slider-knob-bar {
    width: 50%;
    height: 4px;
    background-color: #ccc;
    border-radius: 8px;
}

.list-slider-search {
    background-color: white;
    display: grid;
    grid-template-columns: 35px auto 35px;
    gap: 10px;
    padding: 5px;
}

#location-input {
    border: 2px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 0;
    cursor: pointer;
    color: #243860;
    font-size: 14px;
}

#pac-input {
    transition: 0.2s;
    height: auto;
    outline: none;
    background-color: transparent;
    border: 0;
    padding: 5px;
    width: 100%;
}

#delete-location-input {
    border: 0;
    background-color: transparent;
    border-left: 2px solid #ccc;
    padding: 5px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    transition: 0.2s;
}

#delete-location-input:hover {
    background-color: #f4f4f4;
}

.location-button {
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    color: #243860;
    background-color: #e4e4e4;
    aspect-ratio: 1 / 1;
}

.location-button:hover {
    background-color: #ccc;
}

#current-location-button {
    color: #243860;
}

#current-location-button>.fa-spinner {
    display: none;
}

#current-location-button.loading {
    pointer-events: none;
    background-color: #ccc;
    color: #545454;
    border-color: #545454;
}

#current-location-button.loading>.fa-location-crosshairs {
    display: none;
}

#current-location-button.loading>.fa-spinner {
    display: block;
}

#current-location-button.location-found {
    border-color: #243860;
    background-color: #243860;
    color: white;
}

#current-location-button.location-found:hover {
    background-color: #ccc;
    border-color: #ccc;
    color: #243860;
}


/*FILTER*/
.filter {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: white;
    padding: 5px;
}

.filter-option {
    font-size: 14px;
    height: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    text-align: center;
    background-color: #ddd;
    border: 0;
    border-radius: 25px;
    height: 100%;
    padding: 5px 10px;
    width: 60px;
}

#sorting {
    background-color: transparent !important;
    padding: 0 !important;
    width: unset !important;
}

#gas-type:hover,
#reset-button:hover,
#toggle-list-size-button:hover,
#radius-input:hover {
    background-color: #ccc;
}


/*LIST*/
.gas-station-list {
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
    background-color: white;
}

.gasStationListItem {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}

.gasStationListItem[data-open="false"] {
    opacity: 0.5;
    background-color: #545454;
}

.gasStationGeneral>div {
    display: flex;
    gap: 5px;
}

.brand {
    font-weight: bold;
}

.postCode,
.place,
.street,
.houseNumber {
    font-size: 12px;
}

.dist {
    color: #545454;
    font-size: 12px;
    display: contents;
}

.gasStationGeneral>div>* {
    margin: 0;
}

.gasStationPrice>* {
    margin: 0;
    text-align: end;
}

.gasStationPrice>.price {
    padding: 2.5px 5px;
    background-color: black;
    color: white;
    font-size: 22px;
    font-family: 'Seven Segment', sans-serif;
}

.milli_cent {
    display: inline-block;
    vertical-align: top;
    line-height: 16px;
    font-size: 14px;
}

.gasStationGeneral {
    display: grid;
}