@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/seven-segment');

:root {
    --app-bar-height: 56px;
    --primary-color: #243860;
    --light-grey: #f4f4f4;
    --mid-grey: #e4e4e4;
    --standard-grey: #cccccc;
    --white: #ffffff;
    --dark-grey: #545454;
    --black: #000000;
    --green: #006400;
    --standard-padding: 5px;
    --small-padding: calc(var(--small-padding) / 2);
    --big-padding: calc(2 * var(--standard-padding));
    --very-big-padding: calc(2 * var(--big-padding));
    --standard-gap: 10px;
    --small-gap: calc(var(--standard-gap) / 2);
    --standard-radius: 5px;
    --rounded: calc(1000 * var(--standard-radius));
}

/*APP*/
body {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: var(--app-bar-height) auto auto;
    grid-template-columns: 100%;
    height: 100dvh;
    max-height: 100dvh;
    overflow: hidden;
}

@media (min-width: 700px) and (orientation: landscape) {
    body {
        grid-template-rows: var(--app-bar-height) auto !important;
        grid-template-columns: 1fr 428px !important;
        grid-template-areas:
            'app-bar app-bar'
            'map list'
        ;
    }

    .app-bar {
        grid-area: app-bar !important;
    }

    .list-slider {
        border-right: 1px solid var(--dark-grey) !important;
        grid-template-rows: 45px 45px auto !important;
    }

    .list-slider-knob {
        display: none !important;
    }
}

/*APPBAR*/
.app-bar {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--standard-gap);
    padding: var(--big-padding);
}

.app-logo-name {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--standard-gap);
    width: 100%;
}

.app-logo-name:visited{
    text-decoration: none;
}

.app-logo {
    height: 100%;
    width: auto;
}

.app-name {
    color: var(--white);
    margin: 0;
    font-size: 1.6rem;
    text-decoration: none;
}

/*MAP*/
.map-view {
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
}

.popup-price,
.popup-brand {
    font-weight: bold;
}


/*LIST SLIDER*/
.list-slider {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 20px 45px 45px auto;
}

.list-slider-knob {
    background-color: var(--white);
    border-bottom: 1px solid var(--standard-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--standard-grey);
}

.list-slider-knob-bar {
    width: 50%;
    height: 4px;
    background-color: var(--standard-grey);
    border-radius: var(--rounded);
}

.list-slider-search {
    background-color: var(--white);
    display: grid;
    grid-template-columns: 35px auto 35px;
    gap: var(--standard-gap);
    padding: var(--standard-padding);
}

#location-input {
    border: 2px solid var(--standard-grey);
    border-radius: var(--standard-radius);
    display: flex;
    flex-direction: row;
    gap: 0;
    cursor: pointer;
    color: var(--primary-color);
    font-size: 14px;
}

#pac-input {
    transition: 0.2s;
    height: auto;
    outline: none;
    background-color: transparent;
    border: 0;
    padding: var(--standard-padding);
    width: 100%;
}

#delete-location-input {
    border: 0;
    background-color: transparent;
    border-left: 2px solid var(--standard-grey);
    padding: var(--standard-padding);
    aspect-ratio: 1 / 1;
    cursor: pointer;
    transition: 0.2s;
}

#delete-location-input:hover {
    background-color: var(--light-grey);
}

.location-button {
    border: 2px solid var(--standard-grey);
    border-radius: var(--standard-radius);
    cursor: pointer;
    transition: 0.2s;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    color: var(--primary-color);
    background-color: var(--mid-grey);
    aspect-ratio: 1 / 1;
}

.location-button:hover {
    background-color: var(--standard-grey);
}

#current-location-button {
    color: var(--primary-color);
}

#current-location-button>.fa-spinner {
    display: none;
}

#current-location-button.loading {
    pointer-events: none;
    background-color: var(--standard-grey);
    color: var(--dark-grey);
    border-color: var(--dark-grey);
}

#current-location-button.loading>.fa-location-crosshairs {
    display: none;
}

#current-location-button.loading>.fa-spinner {
    display: block;
}

#current-location-button.location-found {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white);
}

#current-location-button.location-found:hover {
    background-color: var(--standard-grey);
    border-color: var(--standard-grey);
    color: var(--primary-color);
}


/*FILTER*/
.filter {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--small-gap);
    border-top: 1px solid var(--standard-grey);
    border-bottom: 1px solid var(--standard-grey);
    background-color: var(--white);
    padding: var(--standard-padding);
}

.filter-option {
    font-size: 14px;
    height: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    text-align: center;
    background-color: var(--mid-grey);
    border: 0;
    border-radius: var(--rounded);
    height: 100%;
    padding: var(--standard-padding) var(--big-padding);
    width: 60px;
    transition: .2s;
}

#sorting {
    background-color: transparent !important;
    padding: 0 !important;
    width: unset !important;
}

#gas-type:hover,
#reset-button:hover,
#toggle-list-size-button:hover,
#radius-input:hover {
    background-color: var(--standard-grey);
}


/*LIST*/
.gas-station-list {
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--standard-grey) transparent;
    background-color: var(--white);
}

.gasStationListItem {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: var(--standard-gap);
    padding: var(--big-padding);
    border-bottom: 1px solid var(--standard-grey);
    font-size: 14px;
}

.gasStationListItem[data-open="false"] {
    opacity: 0.5;
    background-color: var(--dark-grey);
}

.gasStationGeneral>div {
    display: flex;
    gap: var(--small-gap);
}

.brand {
    font-weight: bold;
}

.postCode,
.place,
.street,
.houseNumber {
    font-size: 12px;
}

.isOpen {
    color: var(--green);
    font-size: 12px;
    display: contents;
}

.dist {
    color: var(--dark-grey);
    font-size: 12px;
    display: contents;
}

.gasStationGeneral>div>* {
    margin: 0;
}

.gasStationPrice>* {
    margin: 0;
    text-align: end;
}

.gasStationPrice>.price {
    padding: 2.5px 5px;
    background-color: var(--black);
    color: var(--white);
    font-size: 22px;
    font-family: 'Seven Segment', sans-serif;
}

.milli_cent {
    display: inline-block;
    vertical-align: top;
    line-height: 16px;
    font-size: 14px;
}

.gasStationGeneral {
    display: grid;
}



.adListItem {
    background-color: #ffd900;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.adListItem>a {
    color: black;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

.adListItem>a>p {
    padding: 0px !important;
}

.adListItem>a {
    width: 100%;
}