@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/seven-segment');

:root {
    --app-bar-height: 56px;

    --primary-color: #243860;
    --light-grey: #f4f4f4;
    --mid-grey: #e4e4e4;
    --standard-grey: #cccccc;
    --white: #ffffff;
    --dark-grey: #545454;
    --extra-dark-grey: #242424;
    --black: #000000;
    --green: #006400;

    --standard-padding: 5px;
    --small-padding: calc(var(--small-padding) / 2);
    --big-padding: calc(2 * var(--standard-padding));
    --very-big-padding: calc(2 * var(--big-padding));

    --standard-gap: 10px;
    --small-gap: calc(var(--standard-gap) / 2);

    --standard-radius: 5px;
    --rounded: calc(1000 * var(--standard-radius));

    --list-slider-knob-container-height: 20px;
    --list-slider-search-container-height: 45px;
    --list-slider-filter-container-height: 45px;

    --top-end-height: calc(100dvh - var(--app-bar-height));
    --mid-end-height: calc(var(--top-end-height) * 0.5);
    --btm-end-height: calc(var(--list-slider-knob-container-height) + var(--list-slider-search-container-height) + var(--list-slider-filter-container-height));

    --top-mid-breakpoint: calc((var(--top-end-height) + var(--mid-end-height)) * .5);
    --btm-mid-breakpoint: calc((var(--btm-end-height) + var(--mid-end-height)) * .5);

}

#css-vars {
    margin-top: var(--top-mid-breakpoint);
    margin-bottom: var(--btm-mid-breakpoint);
    opacity: 0;
    position: fixed;
    z-index: -1000;
}

html {
    height: 100%;
}

/*APP*/
body {
    position: fixed;
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: var(--app-bar-height) auto;
    grid-template-columns: 100%;
    grid-template-areas: 'appBar' 'mapAndList';
    height: 100dvh;
    max-height: 100dvh;
    overflow-x: hidden;
    width: 100dvw;
}

@media (min-width: 700px) and (orientation: landscape) {
    body {
        grid-template-rows: var(--app-bar-height) auto !important;
        grid-template-columns: 1fr 428px !important;
        grid-template-areas:
            'app-bar app-bar'
            'map list'
        ;
    }

    .app-bar {
        grid-area: app-bar !important;
    }

    .map-view {
        grid-area: map !important;
        height: 100% !important;
    }
}

/*APPBAR*/
.app-bar {
    grid-area: appBar;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--standard-gap);
    padding: var(--big-padding);
}

.app-logo-name {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--standard-gap);
    width: 100%;
}

.app-logo-name:visited {
    text-decoration: none;
}

.app-logo {
    height: 100%;
    width: auto;
}

.app-name {
    color: var(--white);
    margin: 0;
    font-size: 1.6rem;
    text-decoration: none;
}

/*MAP*/
.map-view {
    z-index: 0;
    grid-area: mapAndList;
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
}

.popup-price,
.popup-brand {
    font-weight: bold;
}