:root{
    --margin: 3px;
}

.location-suggestions {
    position: absolute;
    left: 50px;
    width: calc(100% - 52px - 52px);
    min-height: 35px;
    display: none;
    max-height: 40dvh;
    background-color: white;
    z-index: 9999;
    border: 2px solid #ccc;
    border-radius: 5px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}

.snap-top{
    top: calc(var(--app-bar-height) + 20px + 45px - var(--margin));
    bottom: unset;
}

.snap-mid{
    top: unset;
    bottom: calc(calc(100dvh - var(--app-bar-height)) / 2 + 2 * var(--margin));
}

.snap-btm{
    top: unset;
    bottom: calc(45px - var(--margin));
}

.suggestion-item{
    padding: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.suggestion-item:hover{
    background-color: #f4f4f4;
}

.suggestion-item:last-of-type{
    border-bottom: none;
}