:root{
    --margin: 3px;
}

.location-suggestions {
    position: absolute;
    left: 39px;
    width: calc(100% - 2 * 39px);
    min-height: 24px;
    display: none;
    max-height: 40dvh;
    background-color: white;
    z-index: 9999;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
    -webkit-box-shadow: 1px 3px 19px 1px #000000; 
box-shadow: 1px 3px 19px 1px #000000;
}

.snap-top{
    top: calc(var(--app-bar-height) + 20px + 45px - var(--margin));
    bottom: unset;
}

.snap-mid{
    top: unset;
    bottom: calc(calc(100dvh - var(--app-bar-height)) / 2 + 2 * var(--margin));
}

.snap-btm{
    top: unset;
    bottom: calc(45px - var(--margin));
}

.suggestion-item{
    padding: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    font-size: 11px;
}

.suggestion-item:hover{
    background-color: #f4f4f4;
}

.suggestion-item:last-of-type{
    border-bottom: none;
}