.slider-container {
    position: relative;
    width: 140px;
}

.slider-checkbox {
    display: none;
}

.slider-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 10px;
    background-color: #ddd;
    border-radius: 25px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s;
}

.slider-label:before {
    content: '';
    position: absolute;
    width: 50%;
    height: calc(100% - 10px);
    width: calc(50% - 10px);
    background-color: #243680;
    border-radius: 25px;
    transition: transform 0.3s;
    z-index: 1;
}

.slider-checkbox:checked + .slider-label:before {
    transform: translateX(calc(100% + 10px));
}

.slider-text {
    position: relative;
    z-index: 2;
    width: 50%;
    text-align: center;
    transition: color 0.3s;
}

.slider-checkbox:not(:checked) + .slider-label .slider-text[data-text="Distance"],
.slider-checkbox:checked + .slider-label .slider-text[data-text="Price"] {
    color: #fff;
}

.slider-checkbox:checked + .slider-label .slider-text[data-text="Distance"],
.slider-checkbox:not(:checked) + .slider-label .slider-text[data-text="Price"] {
    color: #000;
}

    
