body {
    position: unset !important;
    display: flex !important;
    flex-direction: column !important;
    height: unset !important;
    max-height: unset !important;
    overflow-y: auto !important;
}

.app-bar {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--standard-gap);
    padding: var(--big-padding);
    height: 36px;
}

.app-logo-name {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--standard-gap);
}

.app-logo {
    height: 100%;
    width: auto;
}

.app-name {
    color: var(--white);
    margin: 0;
    font-size: 1.6rem;
}

.place-banner {
    height: 50dvh;
    position: relative;
}

.place-banner-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.place-banner-h1 {
    font-size: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: #000000af;
    padding: 10px 30px;
    text-align: center;
    margin: 0;
    max-width: 768px;
    min-width: 50%;
}

.place-banner-img-citation {
    position: absolute;
    color: #fff;
    background-color: #000000af;
    bottom: 0;
    margin: 0;
    padding: 5px 15px;
    right: 0;
    font-size: 10px;
}

.place-banner-img-citation>* {
    color: #fff;
}

.place-text {
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.place-text>p {
    text-align: center;
    margin: 0;
    max-width: 300px;
    min-width: 50%;
}

.place-link {
    position: absolute;
    color: #fff;
    background-color: #000000af;
    text-align: center;
    margin: 0;
    text-decoration: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
    padding: 10px 30px;
    border: 1px solid var(--white);
    transition: 0.3s;
    max-width: 768px;
    min-width: 50%;
}

.place-link:hover {
    background-color: white;
    color: var(--black);
}


.features {
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grey);
}

.features-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    max-width: 768px;
}

@media only screen and (max-width: 768px) {
    .features-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

    .features-single:last-of-type {
        grid-column: 1 / 3;
    }
}

.features-single {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.features-icon {
    aspect-ratio: 1 / 1;
    padding: 20px;
    background-color: var(--mid-grey);
    border-radius: 50%;
    text-align: center;
}

.features-text {
    text-align: center;
}

.search-container {
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.filter-option {
    font-size: 16px !important;
    width: 120px !important;
    padding: 10px 30px !important;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--dark-grey);
}

.find-gas-station {
    cursor: pointer;
    width: auto !important;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--black);
}

.find-gas-station:visited {
    color: var(--black);
}

.find-gas-station:hover {
    background-color: var(--standard-grey);
}


.places {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 50px;
    grid-template-rows: 200px;
    background-color: var(--light-grey);
    padding: 60px;
}

.places>a {
    width: 200px;
    height: 200px;
    position: relative;
}

.places>a>img {
    width: 200px;
    aspect-ratio: 1 / 1;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    filter: brightness(0.5);
    transition: 0.2s;
}

.places>a>span {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    background-color: #000000a1;
    width: 200px;
    padding: 10px 0;
    color: white;
    border-radius: 0 0 20px 20px;
    font-size: 1em;
    transition: 1s;
}

.places>a:hover>img {
    filter: brightness(1);
}

.links {
    padding: 60px;
    gap: 10px;
    display: grid;
    grid-template-columns: auto;
}

.links > a {

}

@media only screen and (max-width: 768px) {
    .places {
        grid-template-columns: 150px 150px;
        gap: 20px;
        grid-template-rows: repeat(auto-fit, 150px);
        background-color: var(--light-grey);
        padding: 20px;
    }
    
    .places>a {
        width: 100%;
        height: 100%;
    }
    
    .places>a>img {
        width: 100%;
        height: 100%;
    }
    
    .places>a>span {
        width: 100%;
    }
}